<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Inicio</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="text-dark">Bienvenido a PERSA</h3>
    <p>PERSA es un aplicativo para la administración de permisos y salidas de los aprendices.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <i class="fas fa-folder fa-2x mb-2 text-success"></i>
                    <h5 class="card-title">Permisos</h5>
                    <p class="card-text">Administración de permisos de salida.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <i class="fas fa-folder-open fa-2x mb-2 text-warning"></i>
                    <h5 class="card-title">Tipo de permisos</h5>
                    <p class="card-text">Tipos y categorías de permisos.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <i class="fas fa-users-viewfinder fa-2x mb-2 text-danger"></i>
                    <h5 class="card-title">Fichas</h5>
                    <p class="card-text">Gestión de fichas académicas.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>